Pillow<10.0
accelerate>=0.11.0
black==22.8
datasets
filelock
flake8>=3.8.3
flax>=0.4.1
hf-doc-builder>=0.3.0
huggingface-hub>=0.10.0
importlib_metadata
isort>=5.5.4
jax>=0.2.8,!=0.3.2,<=0.3.6
jaxlib>=0.1.65,<=0.3.6
modelcards>=0.1.4
numpy
onnxruntime
pytest
pytest-timeout
pytest-xdist
scipy
regex!=2019.12.17
requests
tensorboard
torch>=1.4
torchvision
transformers>=4.21.0
spacy
gradio
ftfy
